// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.wrapper {
  margin-bottom: 74px;
  padding: 20px 20px 20px 35px;
  .row{
      border-bottom: 1px solid #ccc;
      padding: 20px;
      text-align: left;
      word-wrap: break-word;
  }
}

input[type="submit"].btn-block{
    margin: 15px 0;
}

.container{
    padding-bottom:85px;
}

.blog-page-top-btn {
  display: none;
  border-radius: 50px;
  background: #336699;
  width: 60px;
  height: 60px;
  transition: all 0.3s;
  cursor: pointer;
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 30;
  a {
    display: block;
    color: white;
    line-height: 60px;
    text-decoration: none;
  }
  &:hover{
    color: white !important;
    opacity: 0.7;
  }
}

// indexç”¨

.blogIcon{
  width: 100px;
  height: 140px;
  .blogUsername{
    line-height: 100%;
    margin-top: 30px;
  }
}

.blogBotan{
  width: 100px;
  line-height: 100px;
  vertical-align: middle;
}

.blogContent{
  overflow: hidden;
  width: auto;
  padding: 5px 20px;
  vertical-align: middle;
  text-align: left;
  word-wrapper: breake-word;
}